<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WebGL in practice</title>
    <!-- build:css assets/css/main.css -->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!-- endbuild -->
    <!-- build:css assets/css/libs.css -->
    <link rel="stylesheet" href="../assets/css/libs.css" />
    <!-- endbuild -->
</head>

<body>
    <div class="container">
        <h2>SVG Introduction</h4>
        <p>Reference link: </p>
        <ul>
          <li>
            <a href="http://tutorials.jenkov.com/svg/index.html">http://tutorials.jenkov.com/svg/index.html</a>
          </li>
          <li>
        <a href="http://caniuse.com/#feat=svg">http://caniuse.com/#feat=svg</a>
            
          </li>
        </ul>
        <br>
        <p>SVG is short for Scalable Vector Graphics. It is a graphic format in which the shapes are specified in XML. The XML is then rendered by an SVG viewer. Today most web browser can display SVG just like they can display PNG, GIF, and JPG.

Internet Explorer 8 (and earlier) users may have to install the Adobe SVG Viewer to be able to view SVG in the browser. IE 9+, Chrome and Firefox all support SVG natively.

SVG is for 2-dimensional vector graphics. For a 3-dimensional format lookup X3D.</p>
        <br>

    </div>
  <!-- build:js assets/js/libs.js -->
  <script src="../assets/js/libs.js"></script>
  <!-- endbuild -->
  <!-- build:js assets/js/main.js -->
  <script src="../assets/js/main.js"></script>
  <!-- endbuild -->
</body>

</html>
