<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SVG's Handbook</title>
    <!-- build:css assets/css/main.css -->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!-- endbuild -->
    <!-- build:css assets/css/libs.css -->
    <link rel="stylesheet" href="../assets/css/libs.css" />
    <!-- endbuild -->
</head>

<body>
    <div class="container">
        <h2>polygon element</h4>
        <span>Reference link: </span><a href="http://tutorials.jenkov.com/svg/polygon-element.html">http://tutorials.jenkov.com/svg/polygon-element.html</a>
        <br>
        <svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">

           <polygon points="10,0  60,0  35,50"
         style="stroke:#660000; fill:#cc3333;"/>

        </svg>
        <br>
        <svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">

            <polygon points="50,5   100,5  125,30  125,80 100,105
                   50,105  25,80  25, 30"
          style="stroke:#660000; fill:#cc3333; stroke-width: 3;"/>

        </svg>
        
    </div>

  <!-- build:js assets/js/libs.js -->
  <script src="../assets/js/libs.js"></script>
  <!-- endbuild -->
  <!-- build:js assets/js/main.js -->
  <script src="../assets/js/main.js"></script>
  <!-- endbuild -->
</body>

</html>
