<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SVG's Handbook</title>
    <!-- build:css assets/css/main.css -->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!-- endbuild -->
    <!-- build:css assets/css/libs.css -->
    <link rel="stylesheet" href="../assets/css/libs.css" />
    <!-- endbuild -->
</head>

<body>
    <div class="container">
        <h2>svg element</h4>
        <span>Reference link: </span><a href="http://tutorials.jenkov.com/svg/svg-element.html">http://tutorials.jenkov.com/svg/svg-element.html</a>
        <br>
        <p>The root element of all SVG images is the svg element.</p>
        <p>Remember the two namespace declarations, or Firefox will not render the SVG file as an image, but rather interpret it as any other XML file.</p>
        </p>
        <br>
        <svg xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">

  <svg x="10">
    <rect x="10" y="10" height="100" width="100"
        style="stroke:#ff0000; fill: #0000ff"/>
  </svg>
  <svg x="200">
    <rect x="10" y="10" height="100" width="100"
        style="stroke:#009900; fill: #00cc00"/>
  </svg>

</svg>
        
    </div>

  <!-- build:js assets/js/libs.js -->
  <script src="../assets/js/libs.js"></script>
  <!-- endbuild -->
  <!-- build:js assets/js/main.js -->
  <script src="../assets/js/main.js"></script>
  <!-- endbuild -->
</body>

</html>
