<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SVG's Handbook</title>
    <!-- build:css assets/css/main.css -->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!-- endbuild -->
    <!-- build:css assets/css/libs.css -->
    <link rel="stylesheet" href="../assets/css/libs.css" />
    <!-- endbuild -->
</head>

<body>
    <div class="container">
        <h2>circle element</h4>
        <span>Reference link: </span><a href="http://tutorials.jenkov.com/svg/circle-element.html">http://tutorials.jenkov.com/svg/circle-element.html</a>
        <br>
        <svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">

            <circle cx="40" cy="40" r="24" style="stroke:#006600; fill:#00cc00"/>

        </svg>
        <br>
        <svg xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">

            <circle cx="40" cy="40" r="24"
                    style="stroke:#006600;
                           stroke-width: 3;
                           fill:#00cc00"/>
        </svg>
        <br>
        <svg height="150">
          <circle cx="40" cy="40" r="24"
                  style="stroke:#006600;
                         stroke-width: 3;
                         stroke-dasharray: 10 5;
                         fill:#00cc00"/>
        </svg>
        <br>
        <svg height="150">
            <circle cx="40" cy="40" r="24"
                    style="stroke: none;
                           fill:#00cc00"/>
        </svg>
        <br>
        <svg height="150">
            <circle cx="40" cy="40" r="24"
                style="stroke: #660000;
                       fill: #cc0000" />
            <circle cx="64" cy="40" r="24"
                style="stroke: #000066;
                       fill: #0000cc;
                       fill-opacity: 0.5"/>
        </svg>
    </div>

  <!-- build:js assets/js/libs.js -->
  <script src="../assets/js/libs.js"></script>
  <!-- endbuild -->
  <!-- build:js assets/js/main.js -->
  <script src="../assets/js/main.js"></script>
  <!-- endbuild -->
</body>

</html>
